<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, min-scale=1.0">
    <link rel="stylesheet" href="css/cssforcriminalslist.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Criminals List</title>
</head>

<body>
    <header>
        <img class="logo" src="images/Logo-removebg-preview.png" alt="Ap Police">
    </header>

    <nav>
        <div class="emblem">
            <a href="homepage.html">
                <img src="images/emblem-removebg-preview.png" alt="National-emblem" class="icon">
            </a>

        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/firpage">File F.I.R</a></li>
            <li><a href="/criminalslist">Criminals List</a></li>
            <li><a href="/gallery">Media</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/login">Login</a></li>
            </li>
            <div class="drop">
                <a href="#" class="more">More</a>

                <div class="dropdown">
                    <a href="/faq">FAQ's</a>
                    <a href="#">Suggestions</a>
                    <a href="#">Feedback</a>
                </div>
            </div>
            <li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <script src="firscript.js"></script>

    <div class="side-burger" id="side-bur">
        <div class="class1"></div>
        <div class="class2"></div>
        <div class="class3"></div>
    </div>

    <div id="side-menu" class="side-nav">
        <a href="#" id="btn-close">&times;</a>
        <a href="#wanted">Wanted</a>
        <a href="#arrested">Arrested</a>
        <a href="#ontrial">On Trail</a>
    </div>
    <div class="intro">
        <h1>Criminals List</h1>
    </div>
    <% let wanted=[]; %>
    <% let arrested=[]; %>
    <% let ontrail=[]; %>

    <% criminalsList.forEach((criminal)=>{%>
        <%if(criminal.status==="Wanted"){%>
            <% wanted.push(criminal) %>
        <%}%>
        <%if(criminal.status==="Arrested"){%>
            <% arrested.push(criminal) %>
        <%}%>
        <%if(criminal.status==="Ontrail"){%>
            <% ontrail.push(criminal) %>
        <%}%>
    <% }); %>

    <div id="wanted"><img src="images/wanted.png" alt=""></div>
    <div class="criminals">
        <% wanted.forEach((criminal)=>{%>
            <div class="criminal <%=criminal.dangerlevel%> c1">
                <img src="data:image/<%=criminal.img.contentType%>;base64,
                <%=criminal.img.data.toString('base64')%>" alt="" class="pic">
                <div class="details">
                    <h3>Name:
                        <%=criminal.name%>
                    </h3>
                    <p>Crime committed:
                        <%=criminal.crimename%>
                    </p>
                    <p>Last seen:
                        <%=criminal.lastseen%>
                    </p>
            </div>
    </div>
            <% }); %>





                                                                            <!-- <div class="criminal red">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in New Mexico, Albequerqui</p>
            </div>
        </div>

        <div class="criminal orange">
            <img src="images/howtouse.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in New Mexico, AlbequerquiLast seen: At his residence in New Mexico, AlbequerquiLast seen: At his residence in New Mexico, Albequerqui</p>
            </div>

        </div>
        <div class="criminal yellow">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in Albuquerque, New Mexico</p>
            </div> 

        </div>
        <div class="criminal orange">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in Albuquerque, New Mexico</p>
            </div>

        </div>-->

                                                                </div>

                                                                <div id="arrested">
                                                                    <img src="images/arrested.png" alt="">
                                                                    <h1>Arrested</h1>
                                                                </div>
                                                                <div class="criminals">

                                                                    <% arrested.forEach((criminal)=>{%>
                                                                        <div class="criminal <%=criminal.dangerlevel%> c1">
                                                                            <img src="data:image/<%=criminal.img.contentType%>;base64,
                <%=criminal.img.data.toString('base64')%>" alt="" class="pic">
                                                                            <div class="details">
                                                                                <h3>Name:
                                                                                    <%=criminal.name%>
                                                                                </h3>
                                                                                <p>Crime committed:
                                                                                    <%=criminal.crimename%>
                                                                                </p>
                                                                                <p>Last seen:
                                                                                    <%=criminal.lastseen%>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <% }); %>


                                                                            <!-- <div class="criminal c1">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in New Mexico, Albequerqui
            </div>

        </div>
        <div class="criminal c1">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in New Mexico, Albequerqui</p>
            </div>

        </div>
        <div class="criminal c1">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in Albuquerque, New Mexico</p>
            </div>

        </div>
        <div class="criminal c1">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in Albuquerque, New Mexico</p>
            </div>

        </div>-->

                                                                </div>

                                                                <div id="ontrial">
                                                                    <img src="images/ontrail.png" alt="">
                                                                    <h1>On Trail</h1>
                                                                </div>
                                                                <div class="criminals">



                                                                    <% ontrail.forEach((criminal)=>{%>
                                                                        <div class="criminal <%=criminal.dangerlevel%> c1">
                                                                            <img src="data:image/<%=criminal.img.contentType%>;base64,
                <%=criminal.img.data.toString('base64')%>" alt="" class="pic">
                                                                            <div class="details">
                                                                                <h3>Name:
                                                                                    <%=criminal.name%>
                                                                                </h3>
                                                                                <p>Crime committed:
                                                                                    <%=criminal.crimename%>
                                                                                </p>
                                                                                <p>Last seen:
                                                                                    <%=criminal.lastseen%>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <% }); %>
                                                                            <!--        
        <div class="criminal c1">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in New Mexico, Albequerqui
            </div>

        </div>
        <div class="criminal c1">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in New Mexico, Albequerqui</p>
            </div>

        </div>
        <div class="criminal c1">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in Albuquerque, New Mexico</p>
            </div>

        </div>
        <div class="criminal c1">
            <img src="images/walter-white.jpg" alt="" class="pic">
            <div class="details">
                <h3>Name:Walter White</h3>
                <p>Crime committed: Sells crystal meth</p>
                <p>Last seen: At his residence in Albuquerque, New Mexico</p>
            </div>

        </div> -->

                                                                </div>

                                                                <footer id="social">
                                                                    <h3>Follow us on Social Media!</h3>
                                                                    <div class="socicons">
                                                                        <a href="https://www.facebook.com/ANDHRAPRADESHSTATEPOLICE/" target="_blank">
                                                                            <img src="images/facebook black.svg" alt="" class="initial">
                                                                            <img src="images/facebook.svg" alt="" class="hidden">
                                                                        </a>
                                                                        <a href="https://twitter.com/APPOLICE100/" target="_blank">
                                                                            <img src="images/twitter-sign.svg" alt="" class="initial">
                                                                            <img src="images/twitter.svg" alt="" class="hidden">
                                                                        </a>
                                                                        <a href="https://www.instagram.com/appolice.100/?igshid=ocwaariy0bvd&hl=en" target="_blank">
                                                                            <img src="images/instagram black.svg" alt="" class="initial">
                                                                            <img src="images/instagram.svg" alt="" class="hidden">
                                                                        </a>
                                                                        <a href="https://www.youtube.com/channel/UC7Iu-yyZ0Yyi3-JJ4RfzOYw/featured" target="_blank">
                                                                            <img src="images/youtube black.svg" alt="" class="initial">
                                                                            <img src="images/youtube.svg" alt="" class="hidden">
                                                                        </a>

                                                                    </div>
                                                                </footer>

                                                                <script src="javascript/jsforcriminalslist.js"></script>
</body>

</html>