<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police | Gallery Us</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contactus_police.css">
    
</head>
<body>
    <header>
        <img class="logo" src="../images/Logo.png" alt="Ap Police">
    </header>
    <div class="page">
		<nav>
            <div class="emblem">
                <a href="index.html">
                    <img src="../images/emblem.png" alt="National-emblem" class="icon">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/phome">Home</a></li>
                <li><a href="/viewfir">View F.I.R</a></li>
                <li><a href="/postannouncements">Announcements</a></li>
                <li><a href="/postcriminalslist">Criminals List</a></li>
                <li><a href="/gallerypolice">Media</a></li>
                <li><a href="/pcontactus">Contact Us</a></li>
                <li><a href="#">More</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
    <section id="contact-us">
        <aside id="aside">
    		<div id="aside-image-container">
    			<img id="comisioner-image" src="../images/comisioner.png">
    			<img src="../images/ap-police-emblem.jfif">
    			<img src="../images/socials.jfif">
    		</div>
    	</aside>
        <section id="main">
            <form class="form" action="gallerypolice/add-event" method="post" enctype="multipart/form-data">
                <table>
                    <h1>
                        Add Images
                    </h1>
                    <tr>
                        <td>
                            <label for="event-name">Name:</label>
                        </td>
                        <td>
                            <input type="text" name="name" id="event-name" placeholder="enter the event name" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="event-date">Date of the event:</label>
                        </td>
                        <td>
                            <input type="date" name="date" id="event-date" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="title-image">Image</label>
                        </td>
                        <td>
                            <input type="file" name="tile" id="tile-image">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">Add Event</button>
                        </td>
                    </tr>
                </table>
                
            </form>
            <table class="table table-striped">
                <h1>Event Images</h1>
                <% if(!policeEvents.length){ %>
                    <h2>No recent Images</h2>
                <% } %>
                <% for(event of policeEvents){%>
                <tr>
                    <td><div><%= event.name %></div></td> 
                    <% if(event.tile){%>
                        <td><div><%= event.date %></div></td>
                        <td>
                            <a href="/gallery/pevent/images/<%= event._id %>" target="_blank">
                                <img src="<%= event.tile %>" alt="" width="100">
                            </a>
                        </td>
                    <%}else{%>
                        <td><div><%= event.date %></div></td>    
                        <td>
                            <a href="/gallery/pevent/images/<%= event._id %>" target="_blank">
                                <img src="images\event.jpg" alt="" width="100">
                            </a>
                        </td>
                    <%} %>   
                    <td>
						<a href="gallery/event/delete/?imageId=<%= event._id %>">x</a>
                    </td>   
                </tr>
                <%} %>
            </table>
        </section>
    </section>

    

    <script src="javascript/firscript.js"></script>
</body>
</html>