<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0">
    <link rel="stylesheet" href="css/cssforviewfir.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>VIEW F.I.R</title>
</head>

<body>
    <header>
        <a href="Police Side/home-page.html"><img class="logo" src="images/Logo-removebg-preview.png" alt="Ap Police"></a>
    </header>
    <div class="page">
        <nav>
            <div class="emblem">
                <a href="Police Side/home-page.html">
                    <img src="images/emblem-removebg-preview.png" alt="National-emblem" class="icon">
                </a>

            </div>
            <ul class="nav-links">
                <li><a href="/phome">Home</a></li>
                <li><a href="/viewfir">View F.I.R</a></li>
                <li><a href="/postannouncements">Announcements</a></li>
                <li><a href="/postcriminalslist">Criminals List</a></li>
                <li><a href="/gallerypolice">Media</a></li>
                <li><a href="/pcontactus">Contact Us</a></li>
                <li><a href="#">More</a></li>
            </ul>
        </nav>

        <div class="side-burger" id="side-bur">
            <div class="class1"></div>
            <div class="class2"></div>
            <div class="class3"></div>
        </div>

        <div id="side-menu" class="side-nav">
            <a href="#" id="btn-close">&times;</a>
            <a href="/viewfir" id="cat1">Priority1</a>
            <a href="/viewfirp2" id="cat2">Priority2</a>
            <a href="/viewfirp3" id="cat3">Priority3</a>
        </div>
        <script src="javascript/jsforcriminalslist.js"></script>
        <h1 class="heading">VIEW F.I.R FORMS</h1>
        <script src="javascript/viewfirscript.js"></script>
        <br>
        <div class="show">
            <div class="content">
                <div class="default" id="div1">
                    <h2> Priority 3 Forms(No life threat)</h2>
                    <% firs.forEach((fir)=>{%>
                        <p id='myBtn' class="eachform"><strong><%=fir.fullname%></strong><br><br>
                            <%=fir.subject%>
                        </p>
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content fir">
                                <span class="close">&times;</span>
                                <div class="formandevidence">
                                    <strong class="evidence"> Evidence</strong>
                                </div>
                                <p>
                                    <img id="logo_pdf" src="images/ap-police-emblem.jfif">
                                    <pre class="complaint">
                                    From,
    
                                    Applicant Name: <%=fir.fullname %>,
                                    Guardian Name: <%=fir.fatherorhusbandname %>,
                                    Contact Address: <%=fir.address %>,
                                    Contact Number: <%=fir.contactnumber %>,
                                    email: <%=fir.emailid %>.
                                    
                                    Date of the Incident: <%=fir.date %>.
                                    Time of the Incident: <%= fir.time %>. 
                                    
                                    To,
                                    Station Name:<%= fir.stationname%>,
                                    District :<%= fir.district%>,
                                    State :<%= fir.state%>.
                
                                    Subject: <%=fir.subject %>
                                    
                                    Respected sir/madam,
    
                                            <%=fir.complaint %>
                                </pre>
                                </p>
                            </div>
                            <div class="modal-content evid">
                                <div class="formandevidence">
                                    <span class="close">&times;</span>
                                    <strong class="firform"> F.I.R Form</strong>
                                </div>
                                <p>
                                    <img id="proof" src="<%= fir.image.fname %> ">
                                </p>
                                </object>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
        <script>
            // Get the modal
            var modal = document.getElementsByClassName('modal');

            // // Get the button that opens the modal
            // var IDs = document.getElementById();
            var btn = document.getElementsByClassName('eachform');

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close");
            var a = document.getElementsByClassName('firform');
            var b = document.getElementsByClassName('evidence');
            var c = document.getElementsByClassName('fir');
            var d = document.getElementsByClassName('evid');

            // When the user clicks the button, open the modal 
            let k = 0;
            for (let i = 0; i < btn.length; i++) {
                btn[i].onclick = function() {
                        modal[i].style.display = "block";
                    }
                    // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                        if (event.target == modal[i]) {
                            modal[i].style.display = "none";
                        }
                    }
                    // When the user clicks on <span> (x), close the modal
                span[k++].onclick = function() {
                        modal[i].style.display = "none";
                    }
                    // When the user clicks on <span> (x), close the modal
                span[k++].onclick = function() {
                    modal[i].style.display = "none";
                }
                a[i].onclick = function() {
                    c[i].style.display = 'block';
                    d[i].style.display = 'none';
                }
                b[i].onclick = function() {
                    c[i].style.display = 'none';
                    d[i].style.display = 'block';
                }
            }
        </script><br>
        <footer>
            <br>
            <div class="indicators">
                <p><strong><span class="red">Priority1:</span> &nbsp; &nbsp; Includes Sexual Violence , Murder and Kidnap</strong></p>
                <p><strong><span class="yellowgreen">Priority2:</span> &nbsp; &nbsp; Includes Accident , Threatening and Robbery</strong></p>
                <p><strong><span class="lime">Priority3:</span> &nbsp; &nbsp; Includes Land Possession and Other crimes.</strong></p><br>
            </div>
            <h3>Follow us on Social Media!</h3>
            <div class="socicons">
                <a href="https://www.facebook.com/ANDHRAPRADESHSTATEPOLICE/" target="_blank">
                    <img src="common images/facebook black.svg" alt="" class="initial">
                    <img src="common images/facebook.svg" alt="" class="hidden">
                </a>
                <a href="https://twitter.com/APPOLICE100/" target="_blank">
                    <img src="common images/twitter-sign.svg" alt="" class="initial">
                    <img src="common images/twitter.svg" alt="" class="hidden">
                </a>
                <a href="https://www.instagram.com/appolice.100/?igshid=ocwaariy0bvd&hl=en" target="_blank">
                    <img src="common images/instagram black.svg" alt="" class="initial">
                    <img src="common images/instagram.svg" alt="" class="hidden">
                </a>
                <a href="https://www.youtube.com/channel/UC7Iu-yyZ0Yyi3-JJ4RfzOYw/featured" target="_blank">
                    <img src="common images/youtube black.svg" alt="" class="initial">
                    <img src="common images/youtube.svg" alt="" class="hidden">
                </a>
            </div>
        </footer>
</body>

</html>